/* Write your CSS here */

.Header-container {
  background-color: #cbd5e1;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.head-element {
  color: #475569;
  font-family: 'Roboto';
  font-weight: bold;
}
